#rosa {
    background-color: rgba(170, 8, 210, 0.512);
    border-radius: 20%;
    height: 30px;
}

#roxo {
    background-color: rgba(82, 6, 246, 0.553);
    border-radius: 20%;
    height: 30px;
}

#laranja {
    background-color: rgba(227, 66, 8, 0.709);
    border-radius: 20%;
    height: 30px;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 100%;
    margin-bottom: 30px;
}